
<html>
<body>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @Html.Partial("Navbar")
    <br />
    <div class="container body-content">
        @RenderBody()
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts",required:false)
        <hr />
    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
</body>
</html>
