@model EnglishLearning.Models.Users
@{
    Layout = null;
}
<style>
    body {
        margin: 0;
        padding: 0;
        background-color: #17a2b8;
        height: 100vh;
    }

    #login .container #login-row #login-column #login-box {
        margin-top: 120px;
        max-width: 600px;
        height: 320px;
        border: 1px solid #9C9C9C;
        background-color: #EAEAEA;
    }

        #login .container #login-row #login-column #login-box #login-form {
            padding: 20px;
        }

            #login .container #login-row #login-column #login-box #login-form #register-link {
                margin-top: -85px;
            }
</style>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<body>
    <div id="login">
        <h3 class="text-center text-white pt-5">Login form</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        @using (Html.BeginForm("Login", "Security", FormMethod.Post))
                        {
                            <form id="login-form" class="form" action="" method="post">
                                <br />
                                <h3 class="text-center text-info">Login</h3>
                                <div class="form-group">
                                    <br />
                                    @Html.TextBoxFor(p => p.User, new { @class = "form-control", @placeholder = "Your User" })
                                </div>
                                <div class="form-group">
                                    @Html.PasswordFor(p => p.Password, new { @class = "form-control", @placeholder = "Password" })
                                </div>
                                <div>@Html.ViewBag.Message</div>
                                <div class="form-group">
                                    <button type="submit" name="submit" id="submit" class="btn btn-outline-dark btn-md">Submit</button>
                                    <a href="/Security/SignUp" style="float:right">
                                        Register Here
                                    </a>
                                    @Html.HiddenFor(p=>p.Id)
                                </div>
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>